AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignOperands: Align
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: LogicalBlock
IndentWidth: 4
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
ReflowComments: true
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
